<p id="notice"><%= notice %></p>

<h1><%= @year.year %>年度授業一覧</h1>

<ul>
<% @subjects.each do |subject| %>
    <li><%= subject.subject_name %> : <%= subject.teacher_name %></li>
<% end %>
</ul>

<%= link_to 'add', { controller: :subjects, action: :new, id: @year.id } %>
<%= link_to 'Back', { controller: :home, action: :index } %>